[submodule "vendor/popwin"]
	path = vendor/popwin
	url = https://github.com/emacsmirror/popwin.git
[submodule "vendor/workgroups"]
	path = vendor/workgroups
	url = https://github.com/tlh/workgroups.el.git
